.person-item {
  width: 30rem;
  max-width: 90%;
  margin: 1rem auto;
  padding: 2rem;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.7);
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  cursor: pointer;
}
